<!--TODO: Retrieve (retrieve all and eager loading) and insert data from the database.-->
<!--TODO: 7. Create searchDB.html. This partial is similar to the DMS SearchDB and should show: employee no, employee
 TODO: first name, employee last name, department ID, and department name. Similar to DMS it should have 2 buttons:
TODO: REQUIREMENTS:
 TODO: 7a first button: retrieve employee whose employee number, first name, or last name matches query string
 TODO: 7b second button: also retrieve employee's current department's ID and name
  TODO: 7c page is initialized with employee number, first name, or last name  of first 100 employee records
 -->
<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Employee Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter first name, last name, or employee number">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Employee
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForDepartment()">
                Search with Department Info
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Employee No</th>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th ng-show="ctrl.showDepartment">Department ID</th>
            <th ng-show="ctrl.showDepartment">Department Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="emp in ctrl.employees">
            <td>{{emp.emp_no }}</td>
            <td>{{ emp.first_name }}</td>
            <td>{{ emp.last_name }}</td>
            <td>
            <span ng-show="ctrl.showDepartment">
                 <!-- Handles display of employees that have no departments -->
                {{ emp.dept_emps[0] ? emp.dept_emps[0].dept_no : " "}}
            </span>
            </td>
            <td>
            <span ng-show="ctrl.showDepartment">
                 <!-- Handles display of employees that have no departments -->
                {{ emp.dept_emps[0]
                ? (emp.dept_emps[0].department.dept_name)
                : " "}}
            </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>